.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.qrBox, 
.qrBox > section > section{
  position: absolute!important;
  top: 0;
  left: 0;
  bottom: 6vh;
  right: 0;
} 
.qrBox > section > section > div{
  border: none!important;
  box-shadow: none!important;
}
.fab, .fab2 {
  box-shadow: none!important;
  background-color: transparent!important;
  color: white!important;
}
.fab3, .fab4 {
  box-shadow: none!important;
  background-color: transparent!important;
}
.fab2{
  margin: 0px;
    top: 0;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed!important;
}
.purpleTop{    position: absolute;
  left: 0;
  top: 0;
  right: 0;
  filter: opacity(0.5);
}